[Unit]
Description=Minecraft Server

Wants=network.target
After=network.target

[Service]
WorkingDirectory=/opt/minecraft
ExecStart=/usr/lib/jvm/jdk-16.0.2 -Xmx512M -Xms32M -jar server.jar nogui

[Install]
WantedBy=multi-user.target
